.chat {

    @media screen and (min-width:800px) {
        width: 800px;
        height: 100%;
        position: relative;
    }

    @media screen and (max-width:800px) {
        width: 100%;
        height: 100%;
        position: relative;
    }

    

    .users {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 10px;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            
            >div {
                margin: 5px 5px;
            }

            >div:nth-child(1) {
                width: 200px;
                height: 30px;
                line-height: 30px;
            }
            >div:nth-child(2) {
                width: 100px;
                height: 30px;
                line-height: 30px;
            }
        }
    }
}


.videos {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;





    .top {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #ff0000, $alpha: 1);
        // opacity:0.8;
        position: relative;

        video {
            object-fit: fill;
        }
    
        video:nth-child(2) {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            // position: absolute;
            // left: 0;
            // bottom: 0;
        }
    
        video:nth-child(1) {
            width: 30%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    .bottom {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        
        img {
            margin: 0 20px;
        }

        img:nth-child(1) {
            width: 42px;
            height: 42px; 
        }

        img:nth-child(2) {
            width: 45px;
            height: 45px; 
        }

        img:nth-child(3) {
            width: 50px;
            height: 50px;
        }
    }
}